@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --color-brand-900: #452829;
  --color-brand-700: #57595B;
  --color-brand-200: #E8D1C5;
  --color-brand-100: #F3E8DF;
  --color-accent-600: #2563EB;
  --color-accent-700: #1D4ED8;
  --color-accent-100: #DBEAFE;
}

/* Defaults using the new palette */
body {
  background-color: var(--color-brand-100);
  color: var(--color-brand-700);
}

